.dish{
  border: 1px black solid;
  border-radius: 10px;
  margin: 10px;
  max-height: 250px;
  img{
    display: block;
    margin: 0 auto;
  }
  span{
    width: 70%;
    margin-left: 10px;
  }
}
.dish_info{
  display: flex;
  justify-content: space-between;
}
.add_button{
  margin: auto;
  height: 40px;
  width: 40px;
  background-color: #2ae81a;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    background-color: #24b018;
  }
}